# Project: Investigate a Dataset - Medical Appointment No Shows

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

## Introduction

This dataset contains information on over 110,000 medical appointments and focuses on whether or not patients showed up for their scheduled appointments. Each observation represents a single medical appointment and includes patient demographic information, scheduling details, health conditions, and whether the patient received an SMS reminder.

The primary variable of interest is whether a patient did not show up for their appointment. The goal of this investigation is to explore which factors are associated with appointment attendance and to identify patterns that may help predict no-show behavior.

## Dataset Description

The dataset consists of one table with 110,527 rows and 14 columns. Each row corresponds to a unique medical appointment. There are no multiple tables or relationships to resolve.

### Column Descriptions

- **PatientID**  
  A unique identifier for each patient. 

- **AppointmentID**  
  A unique identifier for each medical appointment.

- **Gender**  
  Indicates the patient’s gender (Male or Female).

- **DataMarcacaoConsulta**  
  The date of the actual appointment when the patient was expected to visit the clinic.

- **DataAgendamento**  
  The date and time when the appointment was scheduled.

- **Age**  
  The patient’s age in years.

- **Neighbourhood**  
  The location where the appointment takes place.

- **Scholarship**  
  Indicates whether the patient is enrolled in a government social welfare program (Bolsa Família), which may serve as a proxy for socioeconomic status.

- **Hypertension**  
  Indicates whether the patient has been diagnosed with hypertension (True or False).

- **Diabetes**  
  Indicates whether the patient has diabetes (True or False).

- **Alcoholism**  
  Indicates whether the patient has a history of alcoholism (True or False).

- **Handicap**  
  Indicates whether the patient has a disability (True or False).

- **SMS_received**  
  Indicates whether the patient received one or more SMS reminders before the appointment.

- **No-show**  
  Indicates whether the patient missed the appointment (True or False).

## Research Question
**What factors are associated with a patient not showing up for their scheduled medical appointment?**

This analysis focuses on the relationship between appointment attendance and patient demographics, scheduling factors, health conditions, and SMS reminders.

In [22]:
import pandas as pd

## Data Wrangling

In this section, the dataset is loaded, inspected for cleanliness, and prepared for analysis. Each data cleaning step is documented and justified to ensure the dataset is suitable for exploratory analysis.

### Loading the Dataset

The dataset is loaded from a CSV file into a pandas DataFrame. Initial inspection is performed to understand its structure, size, and basic properties.

In [23]:
# Load the dataset
df = pd.read_csv('noshowappointments-kagglev2-may-2016.csv')

# Display dataframe
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

### General Properties

To assess the overall quality of the data, several checks are performed, including the size of the dataset, data types, summary statistics, missing values, and duplicate records.

In [24]:
# Display size of dataframe
df.shape

(110527, 14)

In [25]:
# Inspect column names and datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [ ]:
# Summary statistics
df.describe(include='all')

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
count,1.105270e+05,1.105270e+05,110527,110527,110527,110527.000000,110527,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527
unique,NaN,NaN,2,103549,27,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,F,2016-05-06T07:09:54Z,2016-06-06T00:00:00Z,NaN,JARDIM CAMBURI,NaN,NaN,NaN,NaN,NaN,NaN,No
freq,NaN,NaN,71840,24,4692,NaN,7717,NaN,NaN,NaN,NaN,NaN,NaN,88208
mean,1.474963e+14,5.675305e+06,NaN,NaN,NaN,37.088874,NaN,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026,NaN
std,2.560949e+14,7.129575e+04,NaN,NaN,NaN,23.110205,NaN,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873,NaN
min,3.921784e+04,5.030230e+06,NaN,NaN,NaN,-1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,4.172614e+12,5.640286e+06,NaN,NaN,NaN,18.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
50%,3.173184e+13,5.680573e+06,NaN,NaN,NaN,37.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
75%,9.439172e+13,5.725524e+06,NaN,NaN,NaN,55.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN
max,9.999816e+14,5.790484e+06,NaN,NaN,NaN,115.000000,NaN,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,NaN

In [27]:
# Check for missing values
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [28]:
# Check for duplicates
df.duplicated().sum()

0

In [ ]:
# Check for minimum age
df['Age'].min()

-1

#### Initial Findings

- The dataset contains over 100,000 rows and 14 columns.
- The `PatientId` column is stored as a floating-point number, even though it represents an identifier rather than a numeric measurement.
- Several binary variables (e.g., `Scholarship`, `Hypertension`, `Diabetes`, `Alcoholism`, `Handicap`, `SMS_received`) are stored as integers and can be more appropriately represented as categorical data.
- Time-related variables (e.g., `ScheduledDay` and `AppointmentDay`) are stored as object types and should be converted to datetime format.
- The `Age` column contains at least one invalid value, with a minimum age of −1.
- There are no missing values present in any column.
- There are no duplicate rows in the dataset.

### Data Cleaning

Based on the initial inspection, the following data cleaning steps are necessary:

1. **Rename columns** to improve readability and ensure consistent naming conventions.
2. **Convert date columns** to datetime format to enable time-based calculations and analysis.
3. **Recode the target variable (`No-show`)** into a binary numeric format for easier aggregation and comparison.
4. **Create a waiting time feature** to capture the delay between appointment scheduling and the actual appointment date.
5. **Remove invalid data**, such as negative ages as these values are not realistic.
6. **Convert identifier columns to appropriate data types** to reflect their role as identifiers rather than numeric measurements.
7. **Convert binary indicator variables to categorical data types** to better represent their qualitative nature.

In [30]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations. Remember to utilize the visualizations that the pandas library already has available.



> **Tip**: Investigate the stated question(s) from multiple angles. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables. You should explore at least three variables in relation to the primary question. This can be an exploratory relationship between three variables of interest, or looking at how two independent variables relate to a single dependent variable of interest. Lastly, you  should perform both single-variable (1d) and multiple-variable (2d) explorations.


### Research Question 1 (Replace this header name!)

In [31]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [32]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed in relation to the question(s) provided at the beginning of the analysis. Summarize the results accurately, and point out where additional research can be done or where additional information could be useful.

> **Tip**: Make sure that you are clear with regards to the limitations of your exploration. You should have at least 1 limitation explained clearly. 

> **Tip**: If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> **Tip**: Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should see output that starts with `NbConvertApp] Converting notebook`, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> **Tip**: Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> **Tip**: Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [33]:
# Running this cell will execute a bash command to convert this notebook to an .html file
!python -m nbconvert --to html Investigate_a_Dataset.ipynb

[NbConvertApp] Converting notebook Investigate_a_Dataset.ipynb to html
[NbConvertApp] Writing 610178 bytes to Investigate_a_Dataset.html